/* prettier-ignore */
* { padding: 0; margin: 0; text-decoration: none; list-style: none;}
.app { overflow-y: scroll; height: 100vh; background-color:white;}
.app_img { margin: 0 auto; width: 100%; height: 400px; background-color: orange; text-align: center; line-height: 400px; font-size: 2rem;}
.app__container { overflow: hidden; margin: 10px auto 40px auto;  height: auto; width: 1200px; background: #20232a; border: 1px solid#e3e3e4; border-radius: 1.5%; }

/* 헤더 Util */
.headerUtil { height: 40px; background-color: #f6f6f6; line-height: 40px; font-size: 0.8rem; font-weight: bold;}
.headerUtil__container { padding: 0 40px; margin: 0 auto; max-width: 1200px; }
.headerUtil__items { float: right; }
.headerUtil__items > a { text-decoration: none; margin-left: 30px; color: #787878;}

/* 헤더 Nav */
.header { overflow:hidden; height: auto; background-color: white; border-bottom: 1px solid #e3e3e4; display: flex; align-items: center; margin: 0 auto; max-width: 1200px; height: 100px; text-align:center; line-height: 100px; }
.headerLogo { width: 200px; height: 100%;}
.headerLogo img{ height: 90px; }
.headerEvent { width: 200px; height: 100%; font-size: 0.8rem; font-weight: bold; color: #787878;}

.headerNav { float: left;  width: 100%; }
.headerNav__item { position: relative; display: inline-block; height: 100%;}
.headerNav__underbar { position: absolute; width: 120px;left:0px; bottom:5px; width: 0; margin: 0 30px; height: 5px; background: #f4ac19;  -webkit-transition: 0.5s ease;} 

.headerNav__item > a { display: inline-block; margin: 0 30px; height: 100%; width: 120px; font-size: 1.2rem; font-weight: bold;  color: black; }
.headerNav__item > a:hover { margin: 0 30px; width: 120px; color:#f4ac19; text-decoration: none; }
.headerNav__item > a:hover + .headerNav__underbar { width: 120px; }


.header__childMenuContainer { width: 1200px; margin: 0 auto; }
.header__childMenu { display: flex; justify-content: center; align-items: center; height: 50px; width: 100%;   text-align: center; line-height: 50px;}
.header__childMenu > a { flex: 1; margin: 0 50px; height: 100%; font-weight: bold; color: #787878; }
.header__childMenu > a:hover { color: #61dafb; text-decoration:none;}
.header__childMenu > a.active {  color: #f4ac19; font-weight: bold; }

.sideNav { float: left; min-height: 1080px; width: 25%; background-color: #20232a; color: white; }
.sideNav__box > a { display: inline-block; width: 100%; height: 80px; line-height: 80px; font-size: 1.2rem; text-decoration: none; color: white;}
.sideNav__box > a:hover { color: #61dafb; }
.sideNav__box > a.active { color: #61dafb; }
.sideNav__mainIcon { display: inline-block; margin-right: 25px; margin-left: 25px; vertical-align: middle; transform: scale(1.1); }

.sideNav__childMenu { background-color: #282c34; font-size: 0.8rem; }
.sideNav__childMenu > a { display: block; padding-left: 20px; height: 50px; line-height: 50px; color: white; } 
.sideNav__childMenu > a span { line-height: 50px; }
.sideNav__childMenu > a.active { background-color: #61dafb; color: #20232a}
.sideNav__childMenu > a:hover { color: #61dafb; }

.page { background-color: white;}
.page__right { float: left; min-height: 1080px; padding: 30px; width: 75%; background-color: white; }
.page__title { margin-bottom: 30px; }
.page__content{ margin-bottom: 30px;}
.page__img { margin-bottom: 30px; width: 100%; height: 200px; background-color: #ffff00; text-align: center;}
.page__img h2 { line-height: 200px;}
.page__contentImage { float: right; margin: 20px; width: 200px; border: 1px solid #e3e3e4; }

.pageTabs { padding: 30px; background-color: white; }

.tabs { display: flex; flex-direction: column; justify-content: space-between; width: 100%; border: 1px solid #b7b7b7; color: #a1a1a1; font-size: 1.2rem }
.tabs__menu { display: flex; height: 40px; line-height: 40px; }
.tabs__menuItem { flex:1; border: 1px solid#b7b7b7; text-align: center; cursor: pointer;}
.tabs__menuItem > a { display: inline-block; width: 100%; height: 100%; text-decoration: none; color: #b7b7b7;}
.tabs__menuItem.active { background-color: tomato; color: white; font-weight: bold;}
.tabs__content  { flex:1; margin:0px; padding:20px; border: 1px solid #a9a9a9;}

.content { width:100%; height: 400px; background-color: orchid; border-radius: 2%; text-align: center; line-height: 400px; font-size: 2rem; color: black;}

table td, table th { cursor: pointer; } 
.board { display: flex; flex-direction: column; min-height: 400px; margin-bottom: 50px;}
.board__title { margin-bottom: 30px; }
.board__actions { width: 100px; text-align: center;}
.board__actions i { margin: 0 10px;}
.board__buttom { display: flex; justify-content: flex-end;}
.board__buttomBtn { width: 150px; float: right;}

.boardSearch { overflow: hidden;}
.boardSearch__container { float: right;}
.boardSearch__input { float: left; margin-right: 10px;}
.boardSearch__button { float: left }

.auth { background-color: #b7b7b7; padding: 50px 0; height: 100vh;}
.auth__container { overflow: hidden; margin: 0 auto; height: auto; padding: 30px; width: 700px; background-color: white; }
.auth__header { margin-bottom: 30px; height: 60px; background-color: white; border-bottom: 1px solid #b7b7b7; }

.errorBox {color: #dc3545; font-size: 0.8rem;}

.pagination__item { margin-right: -1px; width: 40px; height: 40px; text-align: center; line-height: 40px; border: 1px solid #b7b7b7; color: #b7b7b7}
.pagination__item.active {background-color: #61dafb; font-weight: bold; color: white;}

.slider { overflow: hidden;display: flex; align-items:center;  position: relative; margin:0; padding: 0; width: 100%; height: 60vh; background: black;  box-sizing: border-box;}
.slider__slide { overflow: hidden; min-width: 100%;  height: 100%; transition: 0.5s}
.slider button { position: absolute; top: 50%; transform: translateY(-50%); width: 10%; height: 100%; background: none; outline: none; border: none; transition: 0.5s}
.slider button:hover { background: rgba(0, 0, 0, 0.356); cursor: pointer; color: white}
.slider__buttonLeft { left: 0; }
.slider__buttonRight { right: 0; }
.slider__image { width: 100%; height: auto;}

.sliderCarousel {position: absolute; bottom:20px; left: 50%; transform: translateX(-50%)}
.sliderCarousel__item { float: left; margin: 0 5px; width: 15px; height: 15px; border: 1px solid white;; border-radius: 50%}
.sliderCarousel__item.active { background-color: white;}